extends template

block content
    h1 Contact

    form(action="/contact", method="post", enctype="multipart/form-data")
        input(placeholder="Fuldt navn", type="text", name="fullname")
        input(placeholder="Email", type="text", name="email")
        input(placeholder="Alder", type="text", name="age")
        button(type="submit", name="action", value="send") Send
        

    if contacts.length > 0
        table
            thead
                tr
                    th Full Name
                    th Email
                    th Age
                    th Actions
            tbody
                each contact, index in contacts
                    tr
                        td= contact.fullname
                        td= contact.email
                        td= contact.age
                        td
                            form(action=`/contact/update/${index}`, method="post", style="display: inline; margin-right: 5px;")
                                input(placeholder="New Full Name", type="text", name="fullname")
                                input(placeholder="New Email", type="text", name="email")
                                input(placeholder="New Age", type="text", name="age")
                                button(type="submit", name="action", value="update") Update
                            form(action=`/contact/delete/${index}`, method="post", style="display: inline;")
                                button(type="submit", name="action", value="delete") Delete
